@import url('https://fonts.cdnfonts.com/css/high-summit');
@import 'tailwindcss';

.corinthia {
  font-family: 'High Summit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.corinthia-space div {
  padding: 0 0.1em;
  overflow: visible !important;
}